.Title{
    font-family: Klavika Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #125dff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2%;
}
body{
    background-color:#e9e9e9;
}
h3{
    font-size: 12px;
    color: #96999E;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
h2{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: -1px;
    text-align: center;
  
}
#btn{
    cursor: pointer;
    padding-top: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-width: 1px;
    border-color: #125dff;
    background-color: #125dff;
    border-radius: 10px ;
    width: 352px;
    height: 49px;
    margin-right: 22px;
    margin-left: 29px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}
#btn:hover{
    background-color:  #1056ee;
}
#btn2{
    cursor: pointer;
    font-weight: bold;
    padding-top: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-width: 1px;
    border-color: #42B72A;
    background-color:  #42B72A;
    border-radius: 10px ;
    width: 168px;
    height: 49px;
    margin: 31%;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}
#btn2:hover{
    background-color:  #3eac29;
}
#email{
    border: 1px solid ;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    border-radius: 10px ;
    padding: 14px 16px;
    width: 320px;
    height: 25px;
    margin-right: 22px;
    margin-left: 29px;
    
}
#senha{
    border: 1px solid ;
    margin-top: 10px;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    margin-top: -9px;
    border-radius: 10px;
    padding: 14px 16px;
    width: 320px;
    height: 25px;
    margin-right: 22px;
    margin-left: 29px;
}
.esqueceu{
text-decoration: none; 
color: #1877F2; 
margin-top: 10px; 
display: flex; 
justify-content: center;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a:hover{
  text-decoration: underline;
}

.container{
    background-color: white;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 1px 0px 4px rgb(180, 180, 180);
    border-radius: 10px;
    padding: 30px;
    width: 430px;
    height: 400px;
    margin: 0 auto;
 
}
#mensagemErro{
    margin-left: 8%; 
    color: red; 
    display: none;
    font-family: Helvetica;
    font-size: 11px;
}

@media screen and (max-width: 520px){
   .Title{
    display: flex;
    text-align: center;
    margin: 0 auto;
   }
}
    

